


/* Background */

*{
  /*background-color: rgb(205, 206, 204); /*light mode*/
   background-color: rgb(75, 70, 70); /*dark mode*/
}


/* Title */

.title_1{
  color: rgb(24, 157, 24);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
}

.title_1:hover{
  color: rgb(50, 175, 50);
}


/* Nav Bar */

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

li {
  color: rgb(0, 0, 0);
}


.l-1:hover{
  color: whitesmoke;
}
.l-2:hover{
  color: whitesmoke;
}
.l-3:hover{
  color: whitesmoke;
}
.l-4:hover{
  color: whitesmoke;
}
.l-5:hover{
  color: whitesmoke;
} 

a {
  color: white;
  text-decoration: none;
}

.a1:hover {
  color: rgb(8, 8, 209);
}

.a2:hover {
  color: rgb(205, 10, 10);
}

.a3:hover {
  color: rgb(10, 189, 10);
}

.a4:hover {
  color: rgb(207, 240, 21);
}

.a5:hover {
  color: rgb(213, 139, 13);
}


/* Text */

.p_1{
  color: rgb(226, 233, 19);
  padding: 2rem;
}

.p_1:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  font-size: 2rem;
}

.p_2{
  color: rgb(20, 20, 235);
  padding: 2rem;
}

.p_2:hover{
  color: rgb(248, 176, 61);
  font-size: 3rem;
}


/* Button */

button{
  color: black;
  background-color: rgb(228, 48, 48);
  
}

button:hover{
  background-color: rgb(240, 78, 78);
}