

/* Title */

header{
  background-color: rgba(15, 15, 15, 0.98);
}

h1{
  color: rgb(19, 106, 19);
  font-size: 2.5em;
  font-family:sans-serif;
}

h1:hover {
  color: rgb(58, 204, 58);
}

.title_1{
  display: flex;
  justify-content: center;
  padding-top: 15px;
}


/* Search Bar */

input{
  color: white;
  width: 100%;
  height: 2.3rem;
  font-size: 16px;
  padding-left: 20px;
  background-color: rgb(20, 20, 20);
  border: 2px solid blue;
  border-radius: 50px 50px 50px 50px;
}

input:hover{
  background-color: rgb(30, 30, 30);
}

.search_box{
  padding-top: 20px;
  padding-left: 20rem;
  padding-right: 20rem;
  padding-bottom: 10px;
}

.stick{
  position: sticky;
  top: 0;
}


/* Nav Bar */

nav{
  display: flex;
  justify-content: center;
}

li {
  display: inline-block;
  color: rgb(0, 0, 0);
  font-weight: 600;
  list-style: none;
}

.l-1{
  padding-inline: 3rem;
}
.l-2{
  padding-inline: 3rem;
}
.l-3{
  padding-inline: 3rem;
}
.l-4{
  padding-inline: 3rem;
}
.l-5{
  padding-inline: 3rem;
}

a{
  color: white;
  text-decoration: none;
  
}

.a1:hover {
  color: rgb(11, 11, 229);
  text-decoration: underline;
}

.a2:hover {
  color: rgb(205, 10, 10);
  text-decoration: underline;
}

.a3:hover {
  color: rgb(10, 189, 10);
  text-decoration: underline;
}

.a4:hover {
  color: rgb(207, 240, 21);
  text-decoration: underline;
}

.a5:hover {
  color: rgb(236, 157, 21);
  text-decoration: underline;
}


/* Text */

body{
  background-color: rgb(15, 15, 15);
}

p{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 29px;
  font-weight: 500;
}

span{
  color: white;
  font-size: 20px;
  line-height: 29px;
  font-weight: 500;
  padding-left: 2rem;
}

.text{
  padding-left: 12rem;
  padding-right: 12rem;
}

.p_1{
  color: rgb(255, 34, 34);
}

.p_1c{
  width: 19%;
  padding: 2rem;
}

.p_1:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(14, 70, 191); 
}

.p_2{
  color: rgb(255, 255, 255);
  padding: 2rem;
}

.p_2:hover{
  color: rgb(237, 109, 11);
}

.p_3{
  color: rgb(255, 255, 255);
  padding: 2rem;
}

.p_3:hover{
  color:rgb(206, 9, 9);
}

.p_4{
  color: rgb(255, 255, 255);
    padding: 2rem;
}

.p_4:hover{
  color:rgba(20, 190, 113, 0.916);
}


/* Button */

button{
  color: black;
  background-color: rgb(228, 48, 48);
}

button:hover{
  background-color: rgb(240, 78, 78);
}

.b_1{
  padding-bottom: 5rem;
  padding-left: 14rem;
}