*{
  /* background-color: rgb(211, 212, 210); light mode*/
  background-color: rgb(75, 70, 70);
}

.title_1{
  color: rgb(24, 157, 24);
}

.p_1{
  color: rgb(226, 233, 19);
}

.p_2{
  color: red;
}

.p_2:hover{
  color: rgb(54, 30, 239);
}

.p_1:hover{
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

li{
  color:rgb(0, 0, 0);
}

.l-1:hover{
  color: yellow;
  padding-left: 2rem;
}
.l-2:hover{
  color: blue;
  padding-left: 3rem;
}
.l-3:hover{
  color: rgb(226, 19, 19);
  padding-left: 6rem;
}
.l-4:hover{
  color: rgb(32, 228, 45);
  padding-left: 9rem;
}
.l-5:hover{
  color: rgb(210, 10, 144);
  padding-left: 12rem;
}

a{
  color: white;
}

button{
  color: black;
  background-color:rgb(228, 48, 48);
}

button:hover{
  background-color: rgb(240, 78, 78);
}